
Akshay Goel <goelakshay222@gmail.com>
13:26 (0 minutes ago)
to me

# ==========================================
# Google Cloud Platform (GCP) & Credentials
# ==========================================
# NEVER commit private keys, service accounts, or tokens to GitHub
*.json
*.pem
*.p12
.gcp/
.gcloud/
adc.json
credentials.json
service-account*.json
secrets/

# ==========================================
# Python Cache & Virtual Environments
# ==========================================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.pyc
data/raw/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.venv/
venv/
ENV/
env/
.env
pip-log.txt
pip-delete-this-directory.txt

# ==========================================
# Terraform (For your future terraform/ folder)
# ==========================================
# Local .terraform directories
**/.terraform/*

# .tfstate files (They contain sensitive resource data and IP addresses)
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
*.tfvars
*.tfvars.json

#Excluding Kaggle Credentials
.kaggle/
kaggle.json
.env
*.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do want to share if applicable
# !override.tf

# ==========================================
# IDEs and Operating System
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db